/* Sidebar */
.sidebar {
    background: linear-gradient(to bottom, #32CD32, #228B22); /* Verde degradê */
    color: #fff;
}

/* Navbar */
.main-header {
    background: linear-gradient(to right, #32CD32, #228B22); /* Verde degradê */
    color: #fff;
}

/* Opcional: Alterar o rodapé */
.main-footer {
    background: linear-gradient(to left, #32CD32, #228B22); /* Verde degradê */
    color: #fff;
}
